<h2>My Galleries</h2>
<nav><%= link_to "Add New Gallery" , new_gallery_path %> </nav>

<div>
<ul>
<% @galleries.each do |gallery| %>
<li><h3>  <%= link_to gallery.name, gallery_path(gallery) %> </h3></li>
<% end %>
</ul>
</div>