<h2>My Galleries</h2>
<nav><%= link_to "New Gallery" , new_gallery_path %> </nav>

<div>
<% @galleries.each do |gallery| %>
  <%= link_to gallery.name, gallery_path(gallery) %> <!--don't need gallery.1
<% end %>
</div>